wpfEFac/Service References/wsAdesoftSecurity/ServiceSecurity1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TegogoloModel.Security" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TegogoloModel.Security" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SegUserSession">
    <xs:sequence>
      <xs:element minOccurs="0" name="intIdEmpresa" type="xs:int" />
      <xs:element minOccurs="0" name="strRazonSocial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strRfcEmpresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strSucursal" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SegUserSession" nillable="true" type="tns:SegUserSession" />
  <xs:complexType name="InfoSocialMedia">
    <xs:sequence>
      <xs:element minOccurs="0" name="decLatitud" type="xs:decimal" />
      <xs:element minOccurs="0" name="decLongitud" type="xs:decimal" />
      <xs:element minOccurs="0" name="intIdEmpresa" type="xs:int" />
      <xs:element minOccurs="0" name="lstMarketing" nillable="true" type="tns:ArrayOfMarketing" />
      <xs:element minOccurs="0" name="strBottomLeftBannerUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strCopyright" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strFaceUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strLogoEmpresaUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strRightBannerUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strTopBannerUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strTwitterUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strYouTubeUrl" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InfoSocialMedia" nillable="true" type="tns:InfoSocialMedia" />
  <xs:complexType name="ArrayOfMarketing">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Marketing" nillable="true" type="tns:Marketing" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMarketing" nillable="true" type="tns:ArrayOfMarketing" />
  <xs:complexType name="Marketing">
    <xs:sequence>
      <xs:element minOccurs="0" name="strBannerUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strText" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Marketing" nillable="true" type="tns:Marketing" />
</xs:schema>